<div *ngIf="banda != undefined">
    <span>Nome: {{banda.nome}}</span>
    <br />
    <span>Descrição: {{banda.descricao}}</span>
    <img class= "banda-imagem" [src]="banda.backdrop">
</div>

<div class="accordion-container">
<mat-accordion >
    <mat-expansion-panel hideToggle *ngFor="let album of albuns" >
        <mat-expansion-panel-header>
            <mat-panel-title>
               Album: {{album.nome}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let music of album.musicas">
            <p>Musica: {{music.nome}}</p>
            <button mat-icon-button color="primary" (click)="favoritar(music.id ?? '', music.nome ?? '', music.duracao ?? '')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
</div>