
<div>
    <a class="btn btn-primary mb-3" role="button" href="/Relatorio/RelatorioMusica">Relatório de Músicas</a>
</div>
<div>
    <a class="btn btn-primary mb-3" role="button" href="/Relatorio/RelatorioBanda">Relatório de Bandas</a>
</div>
